html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    /*overflow-y:hidden;*/
}
#body{
    height: 683px;
}
#message{

}

#left-bar {
    padding-left: 12%;
    padding-right: 1em;
    background-color: #e6e6e6;
}
#personal-info-bar {
    padding-right: 12%;
    background-color: #e6e6e6;

}
#setting-list{
    list-style-type: none;
    margin:0;
}
#setting-list li{
    padding:5px;
}
#personal-info-btn{
    color: dodgerblue;
}
.setting:hover{
    cursor: pointer;
}
#manage-addresses-bar{
    padding-right: 12%;
    background-color: #e6e6e6;
    display: none;
}
#addresses{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    justify-content: start;

}
.address{
    display:block;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 1em;
}
#add-address{
    display: none;
}
#name-save-btn,#email-save-btn,#phone-save-btn{
    display: none;
}
.address-option{
    cursor: pointer;
   float: right;
}
.address-option-btn{
    float: right;
}
.address-option:hover .address-options{
    display: block;
}
.address-option:hover .address-option-btn{
    display: none;
}
.address-options{
    display: none;
}
.delete-address:hover{
    color: red;
}
.edit-address:hover{
    color: purple;
}
.edit:hover{
    cursor: pointer;
}
#address-id{
    display: none;
}